.kappa {
    padding: 4em;
    display: block;
    margin: auto;
    width: 40%;
}

.kappaText {
    font-size: 35px;
    font-size: 2.5vh;
    padding: 2em;
    margin-right: 3em;
    margin-left: 3em;
}

.okText {
    font-size: 20px;
    font-size: 2.5vh;
    padding: 2em;
    margin-right: 0.1em;
    margin-left: 2em;
    margin-top: 2em;
    max-width: 60%;
    word-wrap: break-word;
    float: left;
    width: 700px;
}

.okPic {
    max-width: 40%;
    width: auto;
    height: auto;
}

.okContainer {
    margin-bottom: 10em;
    margin-top: 15em;
}

.columnDiv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin-right: 10px;
    padding: 15px;
}

.schoolLogo{
    display: block;
    margin: auto;
    max-width: 30%;
    width: auto;
    height: auto;
}

.columnText{
    font-size: 2vh;
}
