.kappa {
    padding: 4em;
    display: block;
    margin: auto;
    width: 40%;
}

.kappaText {
    font-size: 2em;
    padding: 2em;
    margin-right: 3em;
    margin-left: 3em;
}

.okText {
    font-size: 1.2em;
    padding: 2em;
    float: left;
    width: 700px;
}

.okPic {
    width: 600px;
    height: 400px;
}

.okContainer {
    margin-bottom: 10em;
    margin-top: 15em;
}

.columnDiv{
    column-count: 3;
    column-gap: 30px;
    column-rule: #ECEBF3;
    column-rule-style: groove;
}
