@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Rajdhani|Sarpanch');


h2{
    color: white;
    font-family: 'Major Mono Display', monospace;
}

.slide{
    padding: 50px;
    position: center;
    text-align: center;
}
