@import url(https://fonts.googleapis.com/css?family=Sarpanch);


h2{
    color: white;
    font-family: 'Sarpanch', sans-serif;
}

.slide{
    padding: 50px;
    position: center;
    text-align: center;
}
